/* You can add global styles to this file, and also import other style files */


body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

h1{
text-align: center;
color: darkblue;
  }

.parent {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: fit-content;

}

.one-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px;
  padding-left: 20px;

  background-color: lightblue;
  border-radius: 0.9rem;
 gap: 30px;
}

p{
  font-weight: 500;
  font-size: medium;
}

p::first-letter {
  text-transform: uppercase;
}

button{
  color: white;
  background-color: darkblue;
  font-weight: 600;
  font-size: small;
  border-radius: 0.9rem ;
  border: 0;
  padding: 0.6rem;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.remove-icon {
  width: 20px;
  height: 20px;
  text-align: center;
  background-color: red;
  color: white;
  padding: 0.2rem;
  border-radius: 70%;
  display: flex;
  align-items: center;
  justify-content: center;

}
